<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div  th:replace="fragmentos/newnavbar.html :: cabecera(title='Lista de incidentes')">
    </div>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">



    <link rel="stylesheet" th:href="@{/css/mdb.min.css}" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>

    <script src="html2pdf.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js" ></script>
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>

    <!--asd-->
    <link rel="stylesheet" th:href="@{/css/mdb.min.css}" />

    <style>
        .textarea-container {
            position: relative;
        }
        .textarea-container textarea {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
        }
        .textarea-container button {
            position: absolute;
            top: 0;
            right: 0;
            max-width: 5px;
        }
    </style>

</head>

<body style="background-color: #eee;">
<header th:replace="fragmentos/newnavbar.html :: navbar">


</header>
<div class="container py-5 px-0" >
    <!-- Lista incidencias -->
    <div class="title-28" >
        Todas las Incidencias

        <button style="margin-left: 5px" type="button" class="btn btn-outline-dark"data-bs-toggle="modal" data-bs-target="#exampleModal">Aplicar filtros</button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post" th:action="@{/usuario/filtro}">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel1" style="color:black;">Filtrar</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <label for="validationCustom04" class="form-label" style="font-size: medium">Estado</label>
                            <select class="form-select" id="validationCustom04" required name="estado">
                                <option hidden selected disabled value="">Seleccionar</option>
                                <option value="">Todos</option>
                                <option value="registrado">Registrado</option>
                                <option value="atendido">Atendido</option>
                                <option value="resuelto">Resuelto</option>
                            </select>
                            <div class="invalid-feedback">
                                Selecciona un estado válido.
                            </div>

                            <label for="validationCustom04" class="form-label" style="font-size: medium">Tipo de incidencia</label>
                            <select class="form-select" id="validationCustom05" required name="nombre">
                                <option hidden selected disabled value="">Seleccionar</option>
                                <option value="">Todos</option>
                                <option th:each="tipoincidencia : ${listaTipoIncidencias}" th:value="${tipoincidencia.getNombre()} " th:text="${tipoincidencia.getNombre()}">Todo</option>
                            </select>
                            <div class="invalid-feedback">
                                Selecciona un estado válido.
                            </div>



                            <label style="font-size: medium" >Filtrar por fecha:
                            </label>

                            <div class="input-group mb-3 col">
                                <input  type="text" name="datetimes" value="" style="font-size: medium" />
                            </div>
                            <script type="text/javascript">
                                $(function() {
                                    $('input[name="datetimes"]').daterangepicker({

                                        startDate: moment().startOf('hour'),
                                        endDate: moment().startOf('hour').add(32, 'hour'),
                                        "locale": {
                                            "format": "YYYY/MM/DD",
                                            "separator": " - ",
                                            "applyLabel": "Aplicar",
                                            "cancelLabel": "Cancelar",
                                            "fromLabel": "From",
                                            "toLabel": "To",
                                            "customRangeLabel": "Custom",
                                            "daysOfWeek": [
                                                "do",
                                                "Lu",
                                                "Ma",
                                                "Mi",
                                                "Ju",
                                                "Vi",
                                                "Sa"
                                            ],
                                            "monthNames": [
                                                "Enero",
                                                "Febrero",
                                                "Marzo",
                                                "Abril",
                                                "Mayo",
                                                "Junio",
                                                "Julio",
                                                "Agosto",
                                                "Septiembre",
                                                "Octubre",
                                                "Noviembre",
                                                "Diciembre"
                                            ],
                                        }
                                    });
                                });
                            </script>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Aplicar filtro</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <input id="subscriptionKey" type="hidden" size="40" value="0886a0bdfc564ff1a43b36b512bec2d2">
        <input id="serviceRegion" type="hidden" size="40" value="eastus">
        <input id="languageSourceOptions" type="hidden" size="40" value="es-ES">
        <input id="languageTargetOptions" type="hidden" size="40" value="es">

        <a style="margin-left: 5px" type="button" href="/usuario/mapa" class="btn btn-outline-dark">Ver Mapa</a>
        <a href="/usuario/nuevoIncidente" type="button" class="btn btn-redtele bSalir">
            Nuevo Incidente
        </a>
    </div>
    <form method="post" th:action="@{/usuario/filtro2}">
        <div class="textarea-container">
            <button type="submit" hidden></button>
            <button id="startRecognizeOnceAsyncButton"  class="btn btn-transparent" style="background-color: transparent;margin-right: 15px;padding-left: 12px  "><i  class="bi bi-mic-fill"></i></button>
            <input name="titulo" class="form-control mb-3" type="text" id="phraseDiv" placeholder="Buscar por título incidencia">
        </div>

    </form>
    <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>

    <div class="row row-cols-1 row-cols-md-3 g-3 py-3 mb-3">
        <div th:each="incidencia,indice : ${listaIncidentes}">
        <div  class="col" >
            <div class="card h-100 position-relative">
                <div class="card-tele">
                    <div class="card-tele-img">
                        <img  th:src="${listaFotos.get(indice.index).get(0)}" alt="Sede" class="img-fluid rounded-start img-cover"/>
                    </div>
                    <div class="card-tele-body pb-2">
                        <p class="card-tele-title" th:inline="text" style="font-size: medium"> [[${incidencia.titulo}]]
                            <span  th:text="${incidencia.urgencia}" class="alert alert-primary" role="alert" style="max-width: fit-content;max-height: fit-content;font-size: small;padding: 4px;font-weight: lighter" >
                            Leve
                            </span>
                            <tr></tr>
                            <span th:text="${incidencia.tincidencia}" class="alert" th:styleappend="';background-color:'+${incidencia.color}" role="alert" style="max-width: fit-content;max-height: fit-content;font-size: small;padding: 4px;font-weight: lighter; margin-left: 3px" >
                            Objetos perdidos
                            </span>
                        </p>

                        <div class="card-tele-subtitle">
                            <i th:text="${incidencia.zonapucp}" class="bi bi-geo-alt">Av.Universitaria 1801, San Miguel</i>
                        </div>
                        <div class="card-tele-subtitle">
                            <span>Estado:</span>
                            <span th:text="${incidencia.estado}" style="font-weight: bolder">En proceso</span>
                        </div>
                    </div>
                    <div class="card-tele-footer justify-content">
                        <div class="d-flex align-items-start">
                            <a title="Love it" class="btn btn-counter" data-count="0"><span>&#9825;</span></a>
                            <a title="Love it" class="btn btn-counter" data-count="0"><span>&#x2764;</span></a>
                        </div>
                        <div class="d-flex align-items-end">
                            <a class="btn btn-redtele" th:href="@{'/usuario/info'+'?id='+${incidencia.idI}}">+INFO</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </div>
</div>
</div>
<!-- Speech SDK reference sdk. -->
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>

<!-- Speech SDK USAGE -->
<script>
    //like
    function darLike(x) {
        document.getElementById("corazon").innerHTML="&#x2764";
        
        
    }
    function quitarLike() {
        document.getElementById("corazonBlack").innerHTML = "&#9825;";
    }
    // status fields and start button in UI
    var phraseDiv;
    var startRecognizeOnceAsyncButton;

    // subscription key and region for speech services.
    var subscriptionKey, serviceRegion, languageTargetOptions, languageSourceOptions;
    var SpeechSDK;
    var recognizer;

    document.addEventListener("DOMContentLoaded", function () {
        startRecognizeOnceAsyncButton = document.getElementById("startRecognizeOnceAsyncButton");
        subscriptionKey = document.getElementById("subscriptionKey");
        serviceRegion = document.getElementById("serviceRegion");
        languageTargetOptions = document.getElementById("languageTargetOptions");
        languageSourceOptions = document.getElementById("languageSourceOptions");
        phraseDiv = document.getElementById("phraseDiv");

        startRecognizeOnceAsyncButton.addEventListener("click", function () {
            startRecognizeOnceAsyncButton.disabled = true;
            phraseDiv.innerHTML = "";

            if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
                alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
                startRecognizeOnceAsyncButton.disabled = false;
                return;
            }
            var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

            speechConfig.speechRecognitionLanguage = languageSourceOptions.value;
            let language = languageTargetOptions.value
            speechConfig.addTargetLanguage(language)

            var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
            recognizer = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

            recognizer.recognizeOnceAsync(
                function (result) {
                    startRecognizeOnceAsyncButton.disabled = false;
                    if (result.reason === SpeechSDK.ResultReason.TranslatedSpeech) {
                        let translation = result.translations.get(language);
                        window.console.log(translation);
                        phraseDiv.innerHTML += translation;
                        document.getElementById('phraseDiv').value = translation;
                    }

                    recognizer.close();
                    recognizer = undefined;
                },
                function (err) {
                    startRecognizeOnceAsyncButton.disabled = false;
                    phraseDiv.innerHTML += err;
                    document.getElementById('phraseDiv').value = err;
                    window.console.log(err);

                    recognizer.close();
                    recognizer = undefined;
                });
        });

        if (!!window.SpeechSDK) {
            SpeechSDK = window.SpeechSDK;
            startRecognizeOnceAsyncButton.disabled = false;

            document.getElementById('content').style.display = 'block';
            document.getElementById('warning').style.display = 'none';
        }
    });
</script>

<!-- Footer -->
<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Advierte PUCP 2022</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
</body>
</html>