.group-2189{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    left: 0;
    min-height: 791px;
    position: absolute;
    top: 0;
    width: 1843px;
}
.overlap-group19{
    height: 116px;
    margin-right: 3px;
    position: relative;
    width: 874px;
}