<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div  th:replace="fragmentos/newnavbar.html :: cabecera(title='Lista de incidentes')">

    </div>
    <link rel="stylesheet" th:href="@{/css/mdb.min.css}" />
    <script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>

    <script src="html2pdf.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js" ></script>

</head>

<body style="background-color: #eee;">
<header th:replace="fragmentos/newnavbar.html :: navbar (user=null)">

</header>
<div class="container py-5 px-0" >
    <!-- Lista incidencias -->
    <div class="title-28" >
        Todas las Incidencias

        <button style="margin-left: 5px" type="button" class="btn btn-outline-dark"data-bs-toggle="modal" data-bs-target="#exampleModal">Aplicar filtros</button>
        <!-- Modal -->

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post" th:action="@{/seguridad/filtro}">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel1" style="color:black;">Filtrar</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <label style="font-size: medium" >Estado</label>
                            <select class="form-select" aria-label="Default select example" name="estado" >
                                <option hidden>Seleccionar</option>
                                <option value="registrado">Registrado</option>
                                <option value="atendido">Atendido</option>
                                <option value="resuelto">Resuelto</option>
                            </select>
                            <label style="font-size: medium" >Tipo de incidencia</label>
                            <select class="form-select" aria-label="Default select example" name="nombre">
                                <option hidden>Seleccionar</option>
                                <option th:each="tipoincidencia : ${listaTipoIncidencias}" th:value="${tipoincidencia.getNombre()} " th:text="${tipoincidencia.getNombre()}">Todo</option>

                            </select>
                            <label for="start" style="font-size: medium">Fecha de inicio:</label>

                            <input style="font-size: medium" type="date" id="start" name="fechainicio"
                                   value="2022-09-13"
                                   min="2018-01-01" max="2080-09-13">
                            <br>
                            <label for="start" style="font-size: medium">Fecha de fin:</label>

                            <input style="font-size: medium" type="date" id="finish" name="fechafin"
                                   value="2022-09-14"
                                   min="2022-09-13" max="2080-09-13">
                            </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Aplicar filtro</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <a style="margin-left: 5px" type="button" href="/seguridad/mapa" class="btn btn-outline-dark">Ver Mapa</a>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-redtele bSalir" data-bs-toggle="modal" data-bs-target="#exportar">
            Exportar
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exportar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 style="color:black"class="modal-title" id="exampleModalLabel">Resumen de incidentes</h5>
                        <select hidden class="form-select form-select-sm" style="width: 100px" name="" id="">
                            <option value="">xls</option>
                            <option value="">txt</option>
                            <option value="">pdf</option>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                        </select>
                    </div>
                    <div class="modal-body" id="exportar2">
                        <div class="container" style="color: #89e2c2" >
                            <table hidden class="table" id = "dataTable">
                                <thead class="thead-dark">
                                <tr>
                                    <th class="text-dark">id_incidencia</th>
                                    <th class="text-dark">titulo</th>
                                    <th class="text-dark">descripcion</th>
                                    <th class="text-dark">fecha</th>
                                    <th class="text-dark">estado</th>
                                    <th class="text-dark">urgencia</th>
                                    <th class="text-dark">tipo_incidencia</th>
                                    <th class="text-dark">zonapucp</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="incidencia,indice : ${listaIncidentes}">
                                    <td class="text-dark" th:text="${incidencia.idI}">1111111</td>
                                    <td class="text-dark" th:text="${incidencia.titulo}">2222222</td>
                                    <td class="text-dark" th:text="${incidencia.descripcion}">33333333</td>
                                    <td class="text-dark" th:text="${incidencia.fecha}">444444444444></td>
                                    <td class="text-dark" th:text="${incidencia.estado}"><555555555555</td>
                                    <td class="text-dark" th:text="${incidencia.urgencia}">66666666666</td>
                                    <td class="text-dark" th:text="${incidencia.tincidencia}">777</td>
                                    <td class="text-dark" th:text="${incidencia.zonapucp}">888</td>
                                </tr>
                            </table>
                        </div>

                        <div class="card h-100 position-relative" th:each="incidencia,indice : ${listaIncidentes}">
                            <div class="card-tele" >

                                <div class="card-tele-body pb-2">
                                    <div class="card-tele-title" style="font-size: medium">[[${incidencia.titulo}]]
                                        <span  th:text="${incidencia.urgencia}" class="alert alert-primary" role="alert" style="max-width: fit-content;max-height: fit-content;font-size: small;padding: 4px;font-weight: lighter" >
                            Leve
                            </span>
                                        <tr></tr>
                                        <span th:text="${incidencia.tincidencia}" class="alert alert-info" role="alert" style="max-width: fit-content;max-height: fit-content;font-size: small;padding: 4px;font-weight: lighter; margin-left: 3px" >
                            Objetos perdidos
                            </span>
                                    </div>

                                    <div class="card-tele-subtitle">
                                        <i  th:text="${incidencia.zonapucp}" class="bi bi-geo-alt">Av.Universitaria 1801, San Miguel</i>
                                    </div>
                                    <div class="card-tele-subtitle">
                                        <span>Estado:</span>
                                        <span th:text="${incidencia.estado}" style="font-weight: bolder">En proceso</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button  onclick="generatePDF()" type="submit" class="btn btn-redtele">Exportar a PDF</button>
                        <button id="btnExportToCsv" type="submit" class="btn btn-success" >exportar txt</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <form method="post" th:action="@{/seguridad/filtro2}">
        <input name="titulo" class="form-control mb-3" type="text" placeholder="Buscar por título incidencia"/>
    </form>
    <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>

    <div class="row row-cols-1 row-cols-md-3 g-3 py-3 mb-3">
        <div th:each="incidencia,indice : ${listaIncidentes}">
            <div  class="col" >
                <div class="card h-100 position-relative">
                    <div class="card-tele">
                        <div class="card-tele-img">
                            <img  th:src="@{|image/${incidencia.getIdI()}|}" alt="Sede" class="img-fluid rounded-start img-cover"/>
                        </div>
                        <div class="card-tele-body pb-2">
                            <p class="card-tele-title" th:inline="text" style="font-size: medium"> [[${incidencia.titulo}]]
                                <span  th:text="${incidencia.urgencia}" class="alert alert-primary" role="alert" style="max-width: fit-content;max-height: fit-content;font-size: small;padding: 4px;font-weight: lighter" >
                            Leve
                            </span>
                                <tr></tr>
                                <span th:text="${incidencia.tincidencia}" class="alert" th:styleappend="';background-color:'+${incidencia.color}" role="alert" style="max-width: fit-content;max-height: fit-content;font-size: small;padding: 4px;font-weight: lighter; margin-left: 3px" >
                            Objetos perdidos
                            </span>
                            </p>

                            <div class="card-tele-subtitle">
                                <i th:text="${incidencia.zonapucp}" class="bi bi-geo-alt">Av.Universitaria 1801, San Miguel</i>
                            </div>
                            <div class="card-tele-subtitle">
                                <span>Estado:</span>
                                <span th:text="${incidencia.estado}" style="font-weight: bolder">En proceso</span>
                            </div>
                        </div>

                        <div class="card-tele-footer justify-content">
                            <div class="d-flex align-items-start">
                                <a href="#" title="Love it" class="btn btn-counter" data-count="0"><span>&#x2764;</span></a>
                            </div>
                            <div class="d-flex align-items-end">
                                <a class="btn btn-redtele" th:href="@{'/seguridad/info'+'?id='+${incidencia.idI}}">+INFO</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>





<!-- Footer -->
    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Advierte PUCP 2022</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

<script>
    function generatePDF() {
        const element= document.getElementById("exportar2")
        html2pdf()
            .from(element)
        .save("reporte.pdf");
    }
</script>

<script>
    const dataTable = document.getElementById("dataTable");
    const btnExportToCsv = document.getElementById("btnExportToCsv");

    btnExportToCsv.addEventListener("click", () => {
        const exporter = new TableCSVExporter(dataTable);
        const csvOutput = exporter.convertToCSV();
        const csvBlob = new Blob([csvOutput], { type: "text/csv" });
        const blobUrl = URL.createObjectURL(csvBlob);
        const anchorElement = document.createElement("a");

        anchorElement.href = blobUrl;
        anchorElement.download = "reporte.txt";
        anchorElement.click();

        setTimeout(() => {
            URL.revokeObjectURL(blobUrl);
        }, 500);
    });
</script>
<script>
    class TableCSVExporter {
        constructor (table, includeHeaders = true) {
            this.table = table;
            this.rows = Array.from(table.querySelectorAll("tr"));

            if (!includeHeaders && this.rows[0].querySelectorAll("th").length) {
                this.rows.shift();
            }
        }

        convertToCSV () {
            const lines = [];
            const numCols = this._findLongestRowLength();

            for (const row of this.rows) {
                let line = "";

                for (let i = 0; i < numCols; i++) {
                    if (row.children[i] !== undefined) {
                        line += TableCSVExporter.parseCell(row.children[i]);
                    }

                    line += (i !== (numCols - 1)) ? "," : "";
                }

                lines.push(line);
            }

            return lines.join("\n");
        }

        _findLongestRowLength () {
            return this.rows.reduce((l, row) => row.childElementCount > l ? row.childElementCount : l, 0);
        }

        static parseCell (tableCell) {
            let parsedValue = tableCell.textContent;

            // Replace all double quotes with two double quotes
            parsedValue = parsedValue.replace(/"/g, `""`);

            // If value contains comma, new-line or double-quote, enclose in double quotes
            parsedValue = /[",\n]/.test(parsedValue) ? `"${parsedValue}"` : parsedValue;

            return parsedValue;
        }
    }

</script>


</body>
</html>