<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div  th:replace="fragmentos/loginfragment.html :: cabecera(title='AdviertePUCP-Login')"></div>
</head>

<body>
<section class="vh-100" style="background-color: hsl(0, 0%, 96%)">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">

                <img src="/images/loguin.png" style="width: 800px; height:670px"
                     class="img-fluid logueoimg" alt="Sample image">

            </div>


            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <img style="height: 165px;width: 393px" class="img-fluid " src="/images/quillaloguin.png">

                <p><br></p>

                <div class="card text-center"  style="max-width: 368px">
                    <div class="card-header" style="font-size: 20px;padding-top: 10px">
                        Sistema de Reporte de Incidencias
                    </div>
                </div>

                <br>
                <div class="card text-center" style="max-width: 368px">
                <a  style="padding: 11px" type="submit" class="btn btn-outline-dark" href="/oauth2/authorization/google">
                    <img style="margin-top: -5px" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/> Iniciar sesión con Google
                </a>
                </div>
                <br>
                <div th:if="${noexiste != null or CancelLogin != null }" class="card text-center" style="max-width: 368px">
                <div th:if="${noexiste != null}" th:text="${noexiste}" class="alert alert-danger " role="alert"></div>
                <div th:if="${CancelLogin != null}" th:text="${CancelLogin}" class="alert alert-danger" role="alert"></div>
                </div>

                <div class="divider d-flex align-items-center my-4" style="max-width: 368px">
                    <p class="text-center fw-bold mx-3 mb-0">O</p>
                </div>

                <form class="formulario needs-validation" th:action="@{/processLogin}"  style="width: 23rem" method="post" novalidate>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example18">Código PUCP</label>
                        <input type="text" id="form2Example18" class="form-control form-control-lg" th:value="${id}" name="id" autofocus
                               th:classappend="${validacionid==null?'':'is-invalid'}"   />

                        <div  th:if="${validacionid != null}" th:text="${validacionid}" class="invalid-feedback"></div>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example28">Contraseña</label>
                        <input type="password" id="form2Example28" class="form-control form-control-lg" th:value="${pwd}" name="pwd"
                               th:classappend="${validacionpwd==null?'':'is-invalid'}" />

                        <p th:if="${param.error}" class="form-signin-heading" style="color:red">Credenciales incorrectas</p>
                        <br><br>

                        <div class="d-flex justify-content-start"><input class="form-check-input" type="checkbox" onclick="myFunction()">&nbsp;Mostrar contraseña&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a  class="text-muted" href="/restablecercontrasena">¿Olvidaste tu contraseña?</a></div>

                    </div>



                    <div class="card text-center border-light bg-transparent" style="max-width: 368px">
                        <button type="submit" class="btn btn-outline-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem">Iniciar Sesión</button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">¿Aún no tienes una cuenta? <a href="/registro" class="link-primary">¡Registrate!</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>
</body>

<script src="https://accounts.google.com/gsi/client" async defer></script>
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

</html>