<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

  <div  th:replace="fragmentos/loginfragment.html :: cabecera(title='AdviertePUCP-Registro')"></div>
  <style>
    *{
      font-family: Roboto,sans-serif;
    }

    .divider:after,
    .divider:before {
      content: "";
      flex: 1;
      height: 1px;
      background: #eee;
    }
    .h-custom {
      height: calc(100% - 73px);
    }
    @media (max-width: 450px) {
      .h-custom {
        height: 100%;
      }
    }

    @media only screen and (max-width: 994px) {
      .logueoimg {
        display: none;
      }
    }
    .logueoimg{
      box-shadow: 10px 10px 80px rgba(0, 0, 0, 0.3);
    }



  </style>

  <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
</head>
<body>

<!--    <img class="logueoimg"  style="position: absolute;height: 100%;z-index: -1"  src="/images/loguin.png">-->
<section class="vh-100 vw-100">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center h-100">


      <div class="col-md-9 col-lg-6 col-xl-5">
        <img class="logueoimg" src="/images/loguin.png"
             alt="Login image" style="height: 80%;width: 100%;text-align: center;margin-top: 15%">
      </div>





      <div class="col-sm-6 text-black">


        <div  class=" px-5 ms-xl-4 " >



          <div class="advnav " >
            <img style="height: 184px;width: 423px" class="ardilla " src="/images/quillaloguin.png">
            <!--                            <img style="height: 150px;width: 300px" class="ardillamobile " src="/images/quillaloguin.png">-->

          </div>
        </div>

        <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

          <form th:action="@{'/enviaDatosRegistro'}" method="post" class="formulario" style="width: 23rem">

            <div class="card text-center" style="margin-top: -50px;margin-bottom: 30px">
              <div class="card-header" style="font-family: Roboto;font-size: 20px">
                Sistema de Reporte de Incidencias
              </div>
            </div>

            <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;font-family: Roboto">Registrate</h3>
            <div th:if="${invalidtoken != null}" th:text="${invalidtoken}" class="alert alert-danger" role="alert"></div>
            <div th:if="${fail != null}" th:text="${fail}" class="alert alert-danger" role="alert"></div>
            <div th:if="${success != null}" th:text="${success}" class="alert alert-success" role="alert"></div>
            <div th:if="${already != null}" th:text="${already}" class="alert alert-warning" role="alert"></div>
            <div th:if="${tresintentos != null}"  class="alert alert-warning" role="alert" style="font-family: Roboto">Ya se envió un correo de validación, inténtalo de nuevo en <span id="time"></span> </div>

            <div class="form-outline mb-4">
              <input name="id" th:value="${id}" type="text" id="id" class="form-control form-control-lg"   />
              <label class="form-label" for="id">Código PUCP</label>
            </div>

            <div class="form-outline mb-4">
              <input name="correo" th:value="${correo}" type="text" id="correo" class="form-control form-control-lg"   />
              <label class="form-label" for="correo" >Correo PUCP (@pucp.edu.pe/@pucp.pe)</label><br><br>

            </div>
            <div class="d-flex justify-content-center">
              <div class="form-outline mb-4">
                <button class="btn-hover color-3" type="submit"  style="border-radius: 10px;height: 75%;padding: 10px;"><b style="color: white">Envia un correo de confirmación</b></button>
              </div>
            </div>

            <p>¿Ya tienes una cuenta? <a href="/"  style="color: blue;font-family: Roboto">¡Inicia Sesión!</a></p>
            <a  class="text-muted" href="/restablecercontrasena">¿Olvidaste tu contraseña?</a>
          </form>

        </div>

      </div>

    </div>
  </div>
</section>


</body>

<script>

  (function() {
    var start = changeTimeZone(new Date(), 'America/Lima');
    start.setHours(23, 59, 59); // 11pm

    function pad(num) {
      return ("0" + parseInt(num)).substr(-2);
    }

    function tick() {
      var now = changeTimeZone(new Date(), 'America/Lima');
      if (now > start) { // too late, go to tomorrow
        start.setDate(start.getDate() + 1);
      }
      var remain = ((start - now) / 1000);
      var hh = pad((remain / 60 / 60) % 60);
      var mm = pad((remain / 60) % 60);
      var ss = pad(remain % 60);
      document.getElementById('time').innerHTML =
              hh + " hora(s) " + mm + " minuto(s)" ;
      setTimeout(tick, 1000);
    }

    document.addEventListener('DOMContentLoaded', tick);
  })();


  function changeTimeZone(date, timeZone) {
    if (typeof date === 'string') {
      return new Date(
              new Date(date).toLocaleString('en-US', {
                timeZone,
              }),
      );
    }

    return new Date(
            date.toLocaleString('en-US', {
              timeZone,
            }),
    );
  }

</script>






</html>