.quillanav{
    position: absolute;
    width: 42.71px;
    height: 37px;


}
.advnav{

    float: left;


    margin-left: 20px;


}
.bSalir{

    float: right;
    margin-right: 20px;
    left: 10px;

}
.header{

    width: 100%;
    height: 115px;
    top: 0px;
    margin-bottom:5%;

    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}
